fsw-facultad/src/main/resources/wsdl-banco/CS000203_ApoderadoFacultadGiro_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="ApoderadoFacultadGiro" targetNamespace="http://osb.bancochile.cl/ApoderadoFacultadGiro/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://osb.bancochile.cl/ApoderadoFacultadGiro/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://osb.bancochile.cl/ApoderadoFacultadGiro/" xmlns:Q1="http://osb.bancochile.cl/ESB/ApoderadoFacultadGiro/OpApoderadoFacultadGiroRequest" xmlns:Q2="http://osb.bancochile.cl/ESB/ApoderadoFacultadGiro/OpApoderadoFacultadGiroResponse" xmlns:Q3="http://osb.bancochile.cl/common/HeaderRequest" xmlns:Q4="http://osb.bancochile.cl/common/HeaderResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://osb.bancochile.cl/ApoderadoFacultadGiro/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://osb.bancochile.cl/common/HeaderResponse" schemaLocation="CS000203_ApoderadoFacultadGiro.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/common/HeaderRequest" schemaLocation="CS000203_ApoderadoFacultadGiro_1.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/ESB/ApoderadoFacultadGiro/OpApoderadoFacultadGiroResponse" schemaLocation="CS000203_ApoderadoFacultadGiro_1_2.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/ESB/ApoderadoFacultadGiro/OpApoderadoFacultadGiroRequest" schemaLocation="CS000203_ApoderadoFacultadGiro_1_2_3.xsd"/>
      <xsd:element name="headerRequest" type="Q3:datosHeaderRequest"/>
      <xsd:element name="headerResponse" type="Q4:datosHeaderResponse"/>
      <xsd:element name="ApoderadoFacultadGiro">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reqApoderadoFacultadGiro" type="Q1:reqApoderadoFacultadGiro"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ApoderadoFacultadGiroResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="respApoderadoFacultadGiro" type="Q2:respApoderadoFacultadGiro"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="ApoderadoFacultadGiroRequest">
    <WL5G3N0:part element="WL5G3N1:ApoderadoFacultadGiro" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ApoderadoFacultadGiroResponse">
    <WL5G3N0:part element="WL5G3N1:ApoderadoFacultadGiroResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRequestMessage">
    <WL5G3N0:part element="WL5G3N1:headerRequest" name="headerRequest"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponseMessage">
    <WL5G3N0:part element="WL5G3N1:headerResponse" name="headerResponse"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ApoderadoFacultadGiro">
    <WL5G3N0:operation name="ApoderadoFacultadGiro">
      <WL5G3N0:input message="WL5G3N1:ApoderadoFacultadGiroRequest"/>
      <WL5G3N0:output message="WL5G3N1:ApoderadoFacultadGiroResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ApoderadoFacultadGiroSOAP" type="WL5G3N1:ApoderadoFacultadGiro">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="ApoderadoFacultadGiro">
      <WL5G3N2:operation soapAction="http://osb.bancochile.cl/ApoderadoFacultadGiro/ApoderadoFacultadGiro"/>
      <WL5G3N0:input>
        <WL5G3N2:header message="WL5G3N1:headerRequestMessage" part="headerRequest" use="literal"/>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:header message="WL5G3N1:headerResponseMessage" part="headerResponse" use="literal"/>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ApoderadoFacultadGiro">
    <WL5G3N0:port binding="WL5G3N1:ApoderadoFacultadGiroSOAP" name="ApoderadoFacultadGiroSOAP">
      <WL5G3N2:address location="http://192.168.10.12:8119/chequeras/CS000203_ApoderadoFacultadGiro"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>