fsw-facultad/src/main/resources/wsdl-banco/CS000560_ApoderadoMultiF_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions name="ApoderadoMultiF" targetNamespace="http://osb.sb:8011/Poderes/ApoderadoMultiF" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://osb.sb:8011/Poderes/ApoderadoMultiF" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema targetNamespace="http://osb.sb:8011/Poderes/ApoderadoMultiF" xmlns:Q1="http://osb.bancochile.cl/ESB/ValidaPoder/ApoderadoMultiFRequest" xmlns:Q2="http://osb.bancochile.cl/ESB/ValidaPoder/ApoderadoMultiFResponse" xmlns:pref="http://osb.bancochile.cl/common/HeaderRequest" xmlns:pref1="http://osb.bancochile.cl/common/HeaderResponse" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://osb.sb:8011/Poderes/ApoderadoMultiF" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://osb.bancochile.cl/ESB/ValidaPoder/ApoderadoMultiFResponse" schemaLocation="CS000560_ApoderadoMultiF.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/ESB/ValidaPoder/ApoderadoMultiFRequest" schemaLocation="CS000560_ApoderadoMultiF_1.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/common/HeaderRequest" schemaLocation="CS000560_ApoderadoMultiF_1_2.xsd"/>
      <xsd:import namespace="http://osb.bancochile.cl/common/HeaderResponse" schemaLocation="CS000560_ApoderadoMultiF_1_2_3.xsd"/>
      <xsd:element name="headerRequest" type="pref:datosHeaderRequest"/>
      <xsd:element name="headerResponse" type="pref1:datosHeaderResponse"/>
      <xsd:element name="ApoderadoMultiF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reqApoderadoMultiFType" type="Q1:reqApoderadoMultiFType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ApoderadoMultiFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="respApoderadoMultiFType" type="Q2:respApoderadoMultiFType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="headerRequestMessage">
    <WL5G3N0:part element="WL5G3N1:headerRequest" name="headerRequest"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="headerResponseMessage">
    <WL5G3N0:part element="WL5G3N1:headerResponse" name="headerResponse"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ApoderadoMultiFRequest">
    <WL5G3N0:part element="WL5G3N1:ApoderadoMultiF" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ApoderadoMultiFResponse">
    <WL5G3N0:part element="WL5G3N1:ApoderadoMultiFResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ApoderadoMultiF">
    <WL5G3N0:operation name="ApoderadoMultiF">
      <WL5G3N0:input message="WL5G3N1:ApoderadoMultiFRequest"/>
      <WL5G3N0:output message="WL5G3N1:ApoderadoMultiFResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ApoderadoMultiFSOAP" type="WL5G3N1:ApoderadoMultiF">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="ApoderadoMultiF">
      <WL5G3N2:operation soapAction="http://osb.sb:8011/Poderes/ApoderadoMultiF/ApoderadoMultiF"/>
      <WL5G3N0:input>
        <WL5G3N2:header message="WL5G3N1:headerRequestMessage" part="headerRequest" use="literal"/>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N2:header message="WL5G3N1:headerResponseMessage" part="headerResponse" use="literal"/>
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ApoderadoMultiF">
    <WL5G3N0:port binding="WL5G3N1:ApoderadoMultiFSOAP" name="ApoderadoMultiFSOAP">
      <WL5G3N2:address location="http://192.168.10.11:8111/PX_Poderes/CS000560_ApoderadoMultiF"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>