ilv-ws/src/main/resources/Servicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Servicio" targetNamespace="urn:cl.banchile.fsw:ilv-ws:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:cl.banchile.fsw:ilv-ws:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:cl.banchile.fsw:ilv-ws:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:cl.banchile.fsw:ilv-ws:1.0">
  <xs:complexType name="inputServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="rut" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outputServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="responseBody" type="tns:responseBody"/>
      <xs:element minOccurs="0" name="responseHeader" type="tns:responseHeader"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseBody">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="usuarios" nillable="true" type="tns:usuarioTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="amaterno" type="xs:string"/>
      <xs:element minOccurs="0" name="apaterno" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="rut" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="company" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioException" type="tns:UsuarioException"/>
  <xs:complexType name="UsuarioException">
    <xs:sequence>
      <xs:element name="message" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inputServicio" nillable="true" type="tns:inputServicio"/>
  <xs:element name="outputServicio" nillable="true" type="tns:outputServicio"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUsuarios">
    <wsdl:part name="arg0" element="tns:inputServicio">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariosResponse">
    <wsdl:part name="return" element="tns:outputServicio">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UsuarioException">
    <wsdl:part name="UsuarioException" element="tns:UsuarioException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ServicioPortType">
    <wsdl:operation name="getUsuarios">
      <wsdl:input name="getUsuarios" message="tns:getUsuarios">
    </wsdl:input>
      <wsdl:output name="getUsuariosResponse" message="tns:getUsuariosResponse">
    </wsdl:output>
      <wsdl:fault name="UsuarioException" message="tns:UsuarioException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioSoapBinding" type="tns:ServicioPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUsuarios">
      <soap:operation soapAction="getUsuarios" style="document"/>
      <wsdl:input name="getUsuarios">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsuariosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UsuarioException">
        <soap:fault name="UsuarioException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="ServicioPort" binding="tns:ServicioSoapBinding">
      <soap:address location="http://localhost:8080/ilv-ws/Servicio"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
